body {
    font-family: Arial, sans-serif;
    background-color: #caf4ff;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img {
    height: 300px;
    width: auto;
}

.img-container {
    margin-bottom: 20px;
}

#time {
    font-family: Copse, sans-serif;
    font-size: 3.5em;
    color: #ca8787;
    /* #0C2D57; #0056b3 */
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #0056b3;
    font-size: 2.5em;
    font-family: 'Special Elite', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    color: #fff;
}
